<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Register.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="card-switch">
            <label class="switch">
               <input type="checkbox" class="toggle">
               <span class="slider"></span>
               <span class="card-side"></span>
               <div class="flip-card__inner">
                  <div class="flip-card__front">
                     <div class="title">Register</div>
                     <form class="flip-card__form" action="{{ url_for('Register') }}" method="POST">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                        
                        <input class="flip-card__input" name="username" placeholder="Username" type="text" required>
                        <input class="flip-card__input" name="email" placeholder="Email" type="email" required>
                        <input class="flip-card__input" name="password" placeholder="Password" type="password" required>
                        <button class="flip-card__btn" type="submit">Sign Up</button>
                    </form>
                    <p>Already have an account? 
                        <a href="{{ url_for('Login') }}" class="login-link">Login here</a>
                    </p>
                  </div>
               </div>
            </label>
        </div>   
    </div>

    <script src="{{ url_for('static', filename='js/Register.js') }}"></script>
</body>
</html>